@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

// ## Colors
// ### Primary
$strong-cyan: hsl(172, 67%, 45%);
$strong-cyan-200: hsl(171, 62%, 75%);
$error: rgb(233, 106, 94);

// ### Neutral
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

// ## Typography
// (form inputs)
$size: 24px;

// ### Font
// [Space Mono](https://fonts.google.com/specimen/Space+Mono)
// - Weights: 700

$font-space-mono: "Space Mono", monospace;

* {
  box-sizing: border-box;
  font-family: $font-space-mono;
}

p {
  margin: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
input {
  border: none;
  text-align: right;
  background: $very-light-grayish-cyan;
  width: 100%;
  border-radius: 5px;
  outline: none;
  padding: 0.25rem 1rem;
  font-size: $size;
  color: $very-dark-cyan;
  &::placeholder {
    color: $grayish-cyan;
    font-size: $size;
    margin-bottom: 2px;
  }
  &:focus {
    outline: 2px solid $strong-cyan;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  align-items: center;
  background: $light-grayish-cyan;
  header {
    text-align: center;
  }
}
header {
  margin-bottom: 5rem;
}

.tip-container {
  margin: 0 auto;
  max-width: 920px;
  display: flex;
  flex-direction: row;
  background: $white;
  padding: 2rem;
  border-radius: 1.5rem;
  gap: 3rem;
}

.tip-select-container {
  flex: 1;
  padding: 1rem;
  padding-right: 0;
  .bill-container {
    margin-bottom: 3rem;
  }
  label {
    color: $dark-grayish-cyan;
  }
  .input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }
  svg {
    position: absolute;
    left: 1rem;
  }
  .buttons-tip {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.875rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;    
    .percentage-tip {
      background: $very-dark-cyan;
      border-radius: 5px;
      color: $white;
      font-size: $size;

      &:hover {
        background: $strong-cyan-200;
        color: $very-dark-cyan;
      }
      
    }
    .custom-tip {
      padding-inline: 0.9rem;
    }
    .custom-tip::placeholder {
      color: $dark-grayish-cyan;
      text-align: center;
    }
    .active {
      background: $strong-cyan;
      color: $very-dark-cyan;
    }
  }
  .labelMessageError {
    color: $error;
    float: right;
  }
  .inputError {
    outline: 2px solid $error;
  }
}

.tip-amount-container {
  flex: 1;
  max-width: 413px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: $very-dark-cyan;
  border-radius: 0.65rem;
  padding: 2.5rem;
  
  .tip-amount_1, .tip-total_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .tip-amount_2, .tip-total_2 {
      color: $white;

      span {
        color: $grayish-cyan;
        font-size: 13px;
      } 
    }
    .tip-amount_3, .tip-total_3 {
      color: $strong-cyan;
      font-size: 3rem;
    }
  }
  .reset {
    margin-top: auto;
    background: $strong-cyan;
    color: $very-dark-cyan;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1.15rem;
    text-transform: uppercase;
    opacity: 0.2;
  }
  .reset.active {
    opacity: 1;
  }
}

.attribution {
  margin-top: 1rem;
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 925px) {
  header {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .tip-container {
    flex-direction: column;
    padding: 1.5rem;
    gap: 2rem;
    .tip-select-container {
      padding: 0.5rem;
    }
    .tip-amount-container {
      max-width: 100%;
    }
  }
}
@media screen and (max-width: 500px) {
 .tip-select-container {
  .bill-container {
    margin-bottom: 2rem;
  }
  .buttons-tip {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 2rem;
    .percentage-tip {
      padding-block: 0.30rem;
    }
  }
 } 
 .tip-amount-container {
  padding: 1.5rem;

  .tip-amount_1, .tip-total_1 {
    
    .tip-amount_3, .tip-total_3 {
      font-size: 2rem;
    }
    
  }

 }
}
